# Logs and reports
logs
*.log
npm-debug.log*
report.*.json

# Runtime and PID
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Dependency directories
node_modules/

# Env files
.env
.env.*.local

# Cache
.cache/

# Tool-specific
.eslintcache

# VSCode, OS, and REPL
.vscode/
.DS_Store
Thumbs.db
.node_repl_history

# Output of 'npm pack'
*.tgz
