# Logs and reports
logs
*.log
npm-debug.log*
report.*.json

# Runtime and PID
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Dependency directories
node_modules/
frontend/node_modules/
backend/node_modules/
jspm_packages/
bower_components/

# Build output
build/
dist/
frontend/dist/
backend/dist/

# Env files
.env
.env.*.local

# Cache
.cache/
.parcel-cache
.vitepress/
.vitepress/cache
.vitepress/dist

# Tool-specific
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_*/

# VSCode, OS, and REPL
.vscode/
.DS_Store
Thumbs.db
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn v1/v2
.yarn-integrity
.pnp.*
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
